@charset "UTF-8";

/* 基本配色 */
/* 茶色薄い#6a3906 */
/* 茶色濃い#40220f */


/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #fff;
    background-color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.wrapper {
    margin: auto;
    padding: 2.5% 10%;
}
.align-center {
    text-align: center;
}

/* 見出し */
.page-title {
    color: #bbb;
    font-size: 5rem;
    text-align: center;
    padding: 75px;
}
.heading-large {
    font-size: 4rem;
}
.post-title {
    font-size: 2rem;
}
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.heading-large,
.heading-medium {
    font-size: 2rem;
    text-align: center;
}
.page-title {
    margin-top: 2rem;
    line-height: 1.4;
}
.heading-large {
    margin-bottom: 1rem;
}

/* ボタン */
.btn {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #432;
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
}
.btn:hover {
    background-color: #999;
}

/* iframe */
iframe {
    width: 100%;
}

/* ヘッダー
------------------------------- */
.page-header {
    padding-top: .5rem;
    background-color: #6a3906;
}
.logo {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #999;
}
.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.main-nav {
    font-size: 2rem;
}

/* ヘッダーカバー画像
------------------------------- */
.cover {
    background-image: url(../images/coffee-top.png);
    background-size: cover;
    background-position: center bottom;
    height: 500px;
}
.sub-cover {
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
}
.sub-cover {
    height: 400px;
    margin-bottom: 6rem;
}

/* HOME
------------------------------- */
.title {
    font-size: 4rem;
    text-align: center;
    padding: 120px;
}
.about {
    max-width: 1100px;
    padding: 0 1rem;
    margin: 0 2rem;
}
.about p {
    font-size: 1.5rem;
    text-align: center;
    margin: 15%;
}
.about {
        margin: 4rem auto 0;
    }

/* NEWS
------------------------------- */
.cover{
    height: 500px;
}
.news-contents {
    display: flex;
    justify-content: space-between;
}
.post {
    width: 70%;
}
.sidebar {
    width: 22%;
}
.sidebar .heading-medium {
    line-height: 1;
    margin-bottom: 1rem;
}

/* 記事部分 */
.post {
    margin-bottom: 3rem;
}
.post-title {
    font-weight: normal;
    margin-bottom: 1.25rem;
}
.post-info {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.post-cat {
    display: flex;
    gap: .5rem;
    list-style: none;
}
.post-cat a {
    color: #432;
    background-color: #faf7f0;
    border-radius: 8px;
    font-size: .875rem;
    padding: .5rem .75rem;
}
.post-cat a:hover {
    background-color: #c9c2bc;
}
.post-date {
    font-size: .875rem;
}
.post-thumbnail {
    border-radius: 16px;
    margin-bottom: 1.5rem;
}
.post p {
    margin-bottom: 1.5rem;
    line-height: 2;
}

/* サイドバー */
.side-menu {
    list-style: none;
    text-align: center;
    margin-bottom: 4rem;
}
.side-menu li {
    border-bottom: 1px solid #fff;
}
.side-menu a {
    color: #fff;
    display: block;
    padding: 1rem;
}
.side-menu a:hover {
    color: #999;
}

/* MENU
------------------------------- */
.grid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.item img {
    width: 325px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
    margin: .5rem;
}
.item p{
    font-size: 1rem;
}

/* CONTACT
------------------------------- */
.location {
        display: flex;
        gap: 2rem;
    }
    .location-info {
        width: 40%;
        text-align: center;
    }
    .location-info .info th {
        padding-left: 2rem;
    }
    .location-map {
        width: 55%;
    }

/* 店舗情報 */
.location {
    margin-bottom: 3.5rem;
}
.location-info {
    margin-bottom: 2rem;
}
.location-info .info {
    padding: 0;
}

/* お問い合わせ */
.email {
    max-width: 916px;
    background-color: #6a3906;
    border-radius: 48px;
    padding: 1.5rem 2.5rem 2.5rem;
    margin: 0 auto 2rem;
}
.email p {
    margin: 1rem 0 2rem;
}



/* SHOP
------------------------------- */
.shop{
    margin: 3% 10%;
}
.shop p{
    padding: .5rem;
}
.block {
    display: block;
    gap: 1rem;
}
#container {
    display: grid;
    grid-template-rows: 8rem 250px;
    grid-template-columns: 325px 1fr;
}
.merch img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 325px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
    margin: 0;
}
.merchp {
    margin: .5rem auto auto 3rem;
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 1rem;
}
.btnshop {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #6a3906;
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
}
.btnshop:hover {
    color: #6a3906;
    background-color: #999;
}

/* ステッパー */
.stepper {
    grid-row: 2;
    grid-column: 2;
    background: #fff;
    color: #000;
    height: 3rem;
    margin: 0 auto auto 3rem;
    padding: .5rem;
    display: flex;
    border-radius: 10px;
    width: 9rem;
}
.down, .up {
  font-size: 20px;
  width: 25%;
  cursor: pointer;
  user-select: none;
}
.qty {
  border: none;
  background: none;
  font-size: 18px;
  text-align: center;
  width: 50%;
}
/* [input type="number"]のデフォルトの矢印を消す */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
  -moz-appearance:textfield; 
} 




/* フッター
------------------------------- */
.footer-information {
    background-size: cover;
    background-position: center;
    padding-top: 12rem;
    background-color: #6a3906;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}
.footer-information {
        padding-top: 3rem;
    }
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}
.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info th {
        padding-left: 2.5rem;
    }
.info td {
    padding: 1rem 0;
}